:root {
  --main: #6C63FF;
}

/* Classes */
.entryCard {
  width: 400px;
  margin: auto;
  margin-top: 2rem;
}

.switch {
  text-align: center;
  margin-top: 1rem;
}

/* ID */
#signup-signin {
  padding: 2rem;
  min-height: 100vh;
}

/* Selector */
.ant-card-head h2 {
  color: whitesmoke;
}

.entryCard span {
  margin: 5px auto;
}

#signup-signin .ant-card-head {
  background-color: var(--main);
  color: whitesmoke;
}

.buttonBig {
  background-color: var(--main);
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
}

#signup-signin .buttonBig {
  width: 100%;
  margin-top: 2rem;
}


.switch a {
  margin-left: 5px;
}

.error {
  color: red;
  font-weight: 700;
}
